<section class="landing">
  <div class="dark-overlay">
    <div class="landing-inner">
      <h1 class="x-large">Sports Management System</h1>
      <p class="lead">
        Streamline your sports operations with our comprehensive management platform.
      </p>
      <p class="tagline">
        Manage teams, players, and budgets effortlessly.
      </p>
      <div class="buttons">
        <a [routerLink]="['/auth/login']" class="btn btn-primary">Login</a>
      </div>
    </div>
  </div>
</section>
